<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
    <add name="GlobalConnection" 
        connectionString="Data Source=SQL5056.site4now.net;Persist Security Info=True;User ID=DB_A61EDE_Teiko11111111_admin;Password=97H#9TTfZRPPMfk"
        providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>